
@{
    ViewBag.Title = "About Company";
}

<style>
    
</style>
<div id="about">
    <h2 align="center">О компании</h2>
    <ul>
        <li><u>  История создания </u></li>
        Компания была создана случайно на основе единомышлеников основателя.
        Добрые люди собрались вместе и поставили перед собой цель помогать другим в их нуждах.
        А именно в нужнах сохранения памяти, ведь память - самое большое уважение хорошему прошлому.
        Компания была основана весной 2020 года и понемногу покоряет мир своей добротой
        <li><u>Почему именно фото фото?</u></li>
        Основатель компании является большим ценителем фотографий. Его фотоколлекция насчитывает около 300 фотографий
    </ul>
    <div class="btn btn-default" style="margin-top:20px">
        @Html.ActionLink("Go Home", "Home", "Home")
    </div>
</div>