
@{
    ViewBag.Title = "Error";
}


<div class="jumbotron mt-3">
    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Error page</font></font></h1>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Переход на несуществующую страницу</font></font></p>
    @Html.ActionLink("Home", "Home", "Home")
</div>
