
@{
    ViewBag.Title = "Logined";
}

@if (Session["name"] != null)
{
    <div class="container success">
        Logined <b>Your Session ID : @Session["id"].ToString()</b>
    </div>
    <hr />
    <h3 style="padding-top:20px;">Welcome @Session["name"].ToString() </h3>
}




