@model IEnumerable<PixelStudio.Models.PhotoService>

@{
    ViewBag.Title = "All_UnpopularServeces";
}
<br />
<br />
<br />
<h2>All Unpopular Serveces</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="border:dashed">
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td class="btn btn-success" style="width:100%">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
        
    </tr>
}

</table>
