<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Your data is invalid</h2>
    </hgroup>
    <div class="btn btn-default">
        @Html.ActionLink("Go Home", "Home", "Home")
    </div>
</body>
</html>
