
@{
    ViewBag.Title = "Page not found";
}

<style>
    .error {
        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 100%
    }

    a.hover {
        text-decoration: none;
        text-decoration-skip: none;
    }

    .suberror {
        margin: 200px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        font-style: normal;
        padding: 20px;
        max-height: 1000px;
        max-width: 1000px;
        width: 50%;
        height: 50%;
        background-color: #696969;
        border-radius: 10px;
        text-align: center;
    }
</style>


<div class="error">
    <div class="suberror">
        <p>
            Ooyps. Something went wrong<br />
            <strong>We can not use your data</strong><br />
            Please, go back and correct mistakes
        </p>
        <hr />
        <p>With best regards<br /> Pixel Studio company</p>
        <div class="btn btn-default" style="text-decoration: none;">
            @Html.ActionLink("Home", "Home", "Home")
        </div>
    </div>
</div>